.container {
  padding: 0 2rem;
}

.yellow {
  color: yellow;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleDiv {
  margin: 1rem 0;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  width: 96vw;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.imageDiv {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 2rem;
  height: 50%;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 60vw;
}

.input {
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
  padding: 0 1rem;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.input:active,
.input:focus {
  border-color: blue;
  outline: none;
}

.promptDiv {
  width: 100%;
}

.description {
  font-size: 1.2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footerLink:hover {
  color: yellow;
}

.footer p {
  margin: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
